spring:
  datasource: # DB? ???? ?? DataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    url: ${LOCAL_DB_URL}
  output:
    ansi:
      enabled: always # ???? ?? ??? ????

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true # JPA? ???? ??? ??
        format_sql: false # ?? ?? ????? ??? (???, ? ?)
        use_sql_comments: false # ???? ??? ???
        hbm2ddl:
          auto: create
        default_batch_fetch_size: 1000 # JPA?? ????? ??? default_batch_fetch_size ???? ?????? ?? ???? ???? IN?? ??? ??? ??

logging:
  level:
    org:
      hibernate:
        type: trace # ??? ????? ?? ?? ?? ????? ??
